
*.db-wal
*.opendb
*.db-shm
*.db

D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine\GanjGameEngineJAVA\GRPHICS\jdk-11.0.3_windows-x64_bin
D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine