
*.db-wal
*.opendb
*.db-shm
*.db

D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine\GanjGameEngineJAVA\GRPHICS\jdk-11.0.3_windows-x64_bin
D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine
D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine\GanjGameEngineJAVA\GRPHICS\jdk-11.0.3_windows-x64_bin\jdk-11.0.3
D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine\GanjGameEngineJAVA\GRPHICS\jdk-11.0.3_windows-x64_bin\jdk-11.0.3\bin
D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine\GanjGameEngineJAVA\GRPHICS\jdk-11.0.3_windows-x64_bin\jdk-11.0.3\bin\server
D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine\GanjGameEngineJAVA\GRPHICS\jdk-11.0.3_windows-x64_bin\jdk-11.0.3\conf
D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine\GanjGameEngineJAVA\GRPHICS\jdk-11.0.3_windows-x64_bin\jdk-11.0.3\conf\management
D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine\GanjGameEngineJAVA\GRPHICS\jdk-11.0.3_windows-x64_bin\jdk-11.0.3\conf\security
D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine\GanjGameEngineJAVA\GRPHICS\jdk-11.0.3_windows-x64_bin\jdk-11.0.3\conf\security\policy
D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine\GanjGameEngineJAVA\GRPHICS\jdk-11.0.3_windows-x64_bin\jdk-11.0.3\conf\security\policy\limited
D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine\GanjGameEngineJAVA\GRPHICS\jdk-11.0.3_windows-x64_bin\jdk-11.0.3\conf\security\policy\unlimited
D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine\GanjGameEngineJAVA\GRPHICS\jdk-11.0.3_windows-x64_bin\jdk-11.0.3\include
D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine\GanjGameEngineJAVA\GRPHICS\jdk-11.0.3_windows-x64_bin\jdk-11.0.3\include\win32
D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine\GanjGameEngineJAVA\GRPHICS\jdk-11.0.3_windows-x64_bin\jdk-11.0.3\include\win32\bridge
D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine\GanjGameEngineJAVA\GRPHICS\jdk-11.0.3_windows-x64_bin\jdk-11.0.3\jmods
D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine\GanjGameEngineJAVA\GRPHICS\jdk-11.0.3_windows-x64_bin\jdk-11.0.3\legal
D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine\GanjGameEngineJAVA\GRPHICS\jdk-11.0.3_windows-x64_bin\jdk-11.0.3\legal\java.base
D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine\GanjGameEngineJAVA\GRPHICS\jdk-11.0.3_windows-x64_bin\jdk-11.0.3\legal\java.compiler
D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine\GanjGameEngineJAVA\GRPHICS\jdk-11.0.3_windows-x64_bin\jdk-11.0.3\legal\java.datatransfer
D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine\GanjGameEngineJAVA\GRPHICS\jdk-11.0.3_windows-x64_bin\jdk-11.0.3\legal\java.desktop
D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine\GanjGameEngineJAVA\GRPHICS\jdk-11.0.3_windows-x64_bin\jdk-11.0.3\lib
D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine\GanjGameEngineJAVA\GRPHICS\jdk-11.0.3_windows-x64_bin\jdk-11.0.3\lib\jfr
D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine\GanjGameEngineJAVA\GRPHICS\jdk-11.0.3_windows-x64_bin\jdk-11.0.3\lib\security
D:\____PROJECTS_VITORDEV\GANJGAME_ENGINE_C++\GanjGameEngine\GanjGameEngineJAVA\GRPHICS\jdk-11.0.3_windows-x64_bin\jdk-11.0.3\lib\server